.negro{
    color:white;
    background-color: black;
}

.blanco{
    color:black;
    background-color: white;
}

.small-letras{
    font-size: 8px;
}

.medium-letras{
    font-size: 12px;
}

.large-letras{
    font-size: 16px;
}

